/* Estilos generales para el slider */
.slider-container {
  //position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%; /* Ancho total del slider (3 imágenes x 100% de ancho) */
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Estilos de las imágenes dentro del slider */
.slider .slide {
  flex: 0 0 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s; /* Aplicamos la transición solo a las imágenes activas */
}

.slider .slide.active {
  opacity: 1;
  z-index: 1;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos de los puntos de navegación */
.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 7;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 5px; /* Espaciado entre los puntos */
  cursor: pointer;
}

/* Estilos para el punto activo */
.dot.active {
  background-color: #fff;
}

  .inicio_sesion{
    z-index: 5;
    position: relative;
  }
